<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>SdrHeaderCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<!-- <key>label</key>
			<string>Links</string> -->
		</dict>
		<dict>
			<key>action</key>
			<string>twitter</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>My twitter</string>
		</dict>
		<dict>
			<key>action</key>
			<string>github</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Source code</string>
		</dict>
        <dict>
			<key>action</key>
			<string>paypal</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Buy me a Fanta</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<!-- <key>label</key>
			<string>Links</string> -->
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>key</key>
			<string>isSpeedEnable</string>
			<key>label</key>
			<string>Speed</string>
			<key>cellClass</key>
			<string>SpeedsterSwitchCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<real>1</real>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>key</key>
			<string>Speedvalue</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>validValues</key>
			<array>
				<real>1</real>
				<real>2</real>
				<real>3</real>
				<real>4</real>
				<real>5</real>
			</array>
			<key>validTitles</key>
			<array>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>key</key>
			<string>isFineTuneSpeedEnable</string>
			<key>label</key>
			<string>FineTuneSpeed</string>
			<key>cellClass</key>
			<string>SpeedsterSwitchCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>isSegmented</key>
			<false/>
			<key>default</key>
			<real>0.05</real>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>max</key>
			<real>0.4</real>
			<key>min</key>
			<real>0.05</real>
			<key>showValue</key>
			<false/>
			<key>key</key>
			<string>FineTuneSpeedValue</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>key</key>
			<string>isBounceEnable</string>
			<key>label</key>
			<string>Bounce</string>
			<key>cellClass</key>
			<string>SpeedsterSwitchCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<real>1</real>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>key</key>
			<string>Bouncevalue</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>validValues</key>
			<array>
				<real>1</real>
				<real>2</real>
				<real>3</real>
				<real>4</real>
				<real>5</real>
			</array>
			<key>validTitles</key>
			<array>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>key</key>
			<string>isFineTuneBounceEnable</string>
			<key>label</key>
			<string>FineTuneBounce</string>
			<key>cellClass</key>
			<string>SpeedsterSwitchCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>isSegmented</key>
			<false/>
			<key>default</key>
			<real>0.2</real>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>max</key>
			<real>1</real>
			<key>min</key>
			<real>0.2</real>
			<key>showValue</key>
			<false/>
			<key>key</key>
			<string>FineTuneBounceValue</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>SideEffect</string>
			<key>footerAlignment</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>key</key>
			<string>InAppAnimationEnabled</string>
			<key>label</key>
			<string>InAppAnimation</string>
			<key>cellClass</key>
			<string>SpeedsterSwitchCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>isSegmented</key>
			<false/>
			<key>default</key>
			<real>0</real>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>max</key>
			<real>0.99</real>
			<key>min</key>
			<real>0</real>
			<key>showValue</key>
			<false/>
			<key>key</key>
			<string>DurationMassValue</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>key</key>
			<string>isInAppBounceEnabled</string>
			<key>label</key>
			<string>Damping</string>
			<key>cellClass</key>
			<string>SpeedsterSwitchCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>isSegmented</key>
			<false/>
			<key>default</key>
			<real>0</real>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>max</key>
			<real>0.9</real>
			<key>min</key>
			<real>0</real>
			<key>showValue</key>
			<false/>
			<key>key</key>
			<string>DampingValue</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>key</key>
			<string>isFolderAnimationEnabled</string>
			<key>label</key>
			<string>FolderAnimation</string>
			<key>cellClass</key>
			<string>SpeedsterSwitchCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>isSegmented</key>
			<false/>
			<key>default</key>
			<real>0</real>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>max</key>
			<real>0.9</real>
			<key>min</key>
			<real>0</real>
			<key>showValue</key>
			<false/>
			<key>key</key>
			<string>FolderMassValue</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>key</key>
			<string>isFolderBounceEnabled</string>
			<key>label</key>
			<string>FolderDamping</string>
			<key>cellClass</key>
			<string>SpeedsterSwitchCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>isSegmented</key>
			<false/>
			<key>default</key>
			<real>0</real>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>max</key>
			<real>0.9</real>
			<key>min</key>
			<real>0</real>
			<key>showValue</key>
			<false/>
			<key>key</key>
			<string>FolderDampingValue</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>key</key>
			<string>isScreensleepEnable</string>
			<key>label</key>
			<string>Screen sleep(←faster|slower→)</string>
			<key>cellClass</key>
			<string>SpeedsterSwitchCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>isSegmented</key>
			<false/>
			<key>default</key>
			<real>0.01</real>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>max</key>
			<real>0.9</real>
			<key>min</key>
			<real>0.01</real>
			<key>showValue</key>
			<false/>
			<key>key</key>
			<string>Screensleepvalue</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>key</key>
			<string>isScreenwakeEnable</string>
			<key>label</key>
			<string>Screen wake</string>
			<key>cellClass</key>
			<string>SpeedsterSwitchCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>isSegmented</key>
			<false/>
			<key>default</key>
			<real>2</real>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>max</key>
			<real>100</real>
			<key>min</key>
			<real>2</real>
			<key>showValue</key>
			<false/>
			<key>key</key>
			<string>Screenwakevalue</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Extra</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>key</key>
			<string>nofly</string>
			<key>label</key>
			<string>Icon unlock fly in</string>
			<key>cellClass</key>
			<string>SpeedsterSwitchCell</string>
		</dict>
        <dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>key</key>
			<string>noshaking</string>
			<key>label</key>
			<string>Icon edit shaking</string>
			<key>cellClass</key>
			<string>SpeedsterSwitchCell</string>
		</dict>
        <dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>key</key>
			<string>nozoom</string>
			<key>label</key>
			<string>Switcher homescreen zoom out</string>
			<key>cellClass</key>
			<string>SpeedsterSwitchCell</string>
		</dict>
        <dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>key</key>
			<string>noWPzoom</string>
			<key>label</key>
			<string>Switcher wallpaper zoom out</string>
			<key>cellClass</key>
			<string>SpeedsterSwitchCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>key</key>
			<string>InstantFolder</string>
			<key>label</key>
			<string>InstantFolder</string>
			<key>cellClass</key>
			<string>SpeedsterSwitchCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Respring to apply changes</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Respring</string>
			<key>action</key>
			<string>respring:</string>
		</dict>
	</array>
</dict>
</plist>
