Package: com.hoangdus.speedster
Name: Speedster
Version: 1.0.0
Architecture: iphoneos-arm
Description: Faster iOS animation
Maintainer: Hoangdus
Author: Hoangdus
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
